{% extends 'blog/base.html' %}

{% block title %}홈 - 스마트팜 시스템{% endblock %}

{% block header %}
<header class="main-header-home">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">스마트팜 모니터링 시스템</h1>
            <p class="lead mb-0">실시간 센서 데이터 모니터링 및 제어</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">센서 데이터</h5>
                <p class="card-text">온도, 습도, VPD 등의 실시간 센서 데이터를 확인하세요.</p>
                <a href="{% url 'blog:sensor_data' %}" class="btn btn-primary">데이터 보기</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">VPD 설정</h5>
                <p class="card-text">VPD 범위를 설정하고 모니터링하세요.</p>
                <a href="{% url 'blog:vpd_settings' %}" class="btn btn-primary">설정하기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}